@charset "UTF-8";

header {
	height:70px;
	background-color: #dddddd;
}


.contents > .join-box { 
	width:350px;
}

.contents > .memo-box {
	width:600px;
}

footer { 
	height:70px;
	background-color: #dddddd;
}